.icon-button {
    -fx-background-color: transparent;
}

.icon-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.icon-button:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.25);
}

.dropdown .arrow-button{
    visibility: hidden;
}

.dropdown-item {
    -fx-background-color: rgba(21, 21, 23, 0.5);
}